{% extends 'page_base.html' %}

{% block header_background_url %}
    {{ object.get_image }}
{% endblock header_background_url %}



{% block site_heading %}
    <div class="post-heading">
        <h1>{{object.title}}</h1>
        <h2 class="subheading">{{object.summary}}</h2>
        <span class="meta">Posted by <a href="{% url 'blog' object.author.username %}">{{object.author}}</a> on {{object.pub_date}}</span>
    </div>
{% endblock site_heading %}


{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post">
            <h1>ASDF</h1>
            <p>
                {{object.content}}
            </p>
        </div>
        <hr/>
        <div class='border radius padding'>
            <h3>{{object.author}}</h3>
            <p class="margin-top margin-bottom">
                <em>
                    Posted on {{post.pub_date}}
                </em>
            </p>
        </div>

    </div>
{% endblock content %}
